* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 0;
    margin: 0;
}

img#logo {
    width: 140px;
    height: 140px;
}

div.container-fluid {
    background-color: #464545;
    min-height: 150px;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 {
    display: flex;
    margin: auto;
}

.btn.btn-outline-info {
    width: 160px;
    height: 70px;
    border-radius: 30px;
}

.form-control.me-2 {
    height: 70px;
    border-radius: 30px;
}
.btn.btn-outline-success {
    border-radius: 30px;
}

.separador {
    height: 20px;
    background-color: rgb(149, 221, 42);
}

main {  
    background-color: rgb(149, 221, 42);
}

.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1000px));
	grid-gap: 20px;
    justify-content: center;    
}

.grid-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 40, 14);
    /*margin: auto;*/
    width: 850px ;
    height: auto;
    font-family: 'Rubik', sans-serif;
    border-radius: 8px;

}

.grid-item img {    
    max-width: 540px;
    height: 100%;
    border-radius: 8px;
}

.tarjeta {
    display: flex;
    flex-direction: row;
}

.description {
    margin-left: 10px;
    color: rgb(250, 250, 250);
}

.btn-compare {
    width: 540px;
    height: 47px;
    background-color: rgb(49, 177, 209);
    color: rgb(19, 16, 16);
    border-radius: 8px;
}

@media only screen and (max-width: 1200px) {
    .grid-item {  
        margin: auto 30px;  
        width: auto;
        height: auto;
    }
    
    .tarjeta {    
        width: auto;           
    }
}

@media only screen and (max-width: 992px) {
    button.navbar-toggler {
        margin-left: auto;
    }

    .grid-item {  
        margin: auto 30px;  
        width: auto;
        height: auto;
    }

    .tarjeta {    
        width: auto;   
    }
}

@media only screen and (max-width: 768px) {
    .grid-item {  
        margin: auto 30px;  
        width: auto;
        height: auto;
    }

    .tarjeta {    
        width: auto;   
    }

    div.btn-container {   
        width: auto;   
    }

    .grid-item img {
       max-width: 320px;
       height: 100%;
    }

    .btn-compare {
        max-width: 320px;
    } 
}


@media only screen and (max-width: 576px) {
    .grid-item {
        margin: auto 30px;    
        width: auto;
        height: auto;
    }

    .tarjeta {    
        max-width: 490px;    
    }

    div.btn-container {   
        width: auto;   
    }

    .grid-item img {

        width: 50%;
        height: 50%;
     }

    .btn-compare {
        width: 50%;
        height: auto;
    }
}
